snippet sign "Signature"
Yours sincerely,
Shikhar Saxena,
UG3 / LCD2021,
2021121010.
endsnippet

snippet date "Date"
`date '+%B %d, %Y'`
endsnippet

#snippet ` 
#\`${1:text}\`$0
#endsnippet

snippet D "DD-MM-YYYY" w
`!v strftime("%d-%m-%Y")`
endsnippet

#snippet "
#"${1:text}"$0
#endsnippet

#snippet '
#'${1:text}'$0
#endsnippet
