snippet i "italic" w
*${1:italic}*$0
endsnippet

snippet b "bold" w 
**${1:bold}**$0
endsnippet

snippet bi "bold italic" w
***${1:bold-italic}***$0
endsnippet

#snippet b "bold visual" i
#**${VISUAL}**$0
#endsnippet

#snippet i "italic visual" i
#*${VISUAL}*$0
#endsnippet

#snippet bi "bold italic visual" i
#***${VISUAL}***$0
#endsnippet

