zoom_out -
zoom_in +


# Automatically set the zoom level and horizontal offset such that the current page is centered horizontally and
# it fills the screen width
fit_to_page_width   w
fit_to_page_height   e

# Same as fit_to_page_with but ignores page margins
fit_to_page_width_smart   W
fit_to_page_height_smart   E

toggle_fullscreen   <C-S-f>

# Toggle dark mode (inverted colors)
toggle_custom_color	<C-r>

new_window <C-n>
close_window q
